# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment files
.env
*.env

# Cache
.cache/
